<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Index</title>
</head>
<body class="container p-3">
    <br>
    <h3>Welcome to the CS334 Project 3 Findr API Routes</h3>
    <p>API Routes: </p>
    <p>User API</p>
    <ul>
        <li>/api/register_user/?username=FooFighter&email=foo@gmail.com&password=Password1234567890!</li>
        <li>/api/login_user/?username=FooFighter&email=foo@gmail.com&password=Password1234567890!&remember=True</li>
        <li>/api/load_user/?userId=1</li>
        <li>/api/update_user/?userId=3&username=OptionalUsername&email=OptionalEmail&bio=OptionalBio&password=Password1234567890!</li>
    </ul>
    <h5>Group API</h5>
    <p>Group CRUD Operations</p>
    <ul>
        <li>Create - POST: /api/group/?title=My_Title&description=My_description&private=True</li>
        <li>Read   - GET: /api/group/?groupId=13</li>
        <li>Update - PUT: /api/group/?groupId=13&title=My_Title&description=My_description&private=True</li>
        <li>Delete - DELETE: /api/group/?groupId=12</li>
    </ul>
    <p>Other Group Operations</p>
    <ul>
<!--        <li>/api/create_group/?title=My_Title&description=My_description&private=True</li>-->
<!--        <li>/api/edit_group/?groupId=13&title=My_Title&description=My_description&private=True</li>-->
        <li>/api/leave_group/?userId=2&groupId=11</li>
<!--        <li>/api/delete_group/?groupId=12</li>-->
        <li>/api/join_group/?userId=2&groupId=13</li>
<!--        <li>/api/load_group/?groupId=13</li>-->
        <li>/api/load_group_posts/?groupId=13</li>
        <li>/api/load_group_members/?groupId=13</li>
        <li>/api/search_groups/?title=hot+tub</li>
        <li>/api/promote_member/?groupId=13&userId=2&promoteId=3</li>
        <li>/api/demote_member/?groupId=13&userId=2&demoteId=3</li>
        <li>/api/load_join_request/?groupId=13</li>
        <li>/api/request_join_group/?groupId=13&userId=2</li>
        <li>/api/accept_join_request/?groupId=13&userId=2</li>
        <li>/api/decline_join_request/?groupId=13&userId=2</li>
    </ul>
    <h5>Post API</h5>
    <p>Post CRUD Operations</p>
    <ul>
        <li>Create - POST: /api/post/?userId=2&groupId=18&title=Bush+Babies&description=I+love+bush+babies&location=Melkbos&category=Other</li>
        <li>Read   - GET: /api/post/?groupId=13</li>
        <li>Update - PUT: /api/post/?groupId=13&title=My_Title&description=My_description&private=True</li>
        <li>Delete - DELETE: /api/post/?groupId=12</li>
    </ul>
    <p>Other Group Operations</p>
    <ul>
        <li>/api/like_post/?userId=2&postId=13</li>
    </ul>
    <p>Comment API</p>
    <ul>
        <li>Create - POST: /api/comment/?postId=1&userId=1&content=You+look+terrifying</li>
        <li>Read   - GET: /api/comment/?commentId=1</li>
        <li>Update - PUT: /api/comment/?commentId=1&content=You+look+so+cute</li>
        <li>Delete - DELETE: /api/comment/?commentId=1</li>
    </ul>
    <p>Note API</p>
    <ul>
        <li>Create - POST: /api/note/?userId=1&groupId=14&type=0&desc=You+have+a+friend+invite</li>
        <li>Read   - GET: /api/note/?noteId=1</li>
        <li>Update - PUT: /api/note/?noteId=1</li>
        <li>Delete - DELETE: /api/note/?noteId=1</li>
    </ul>
</body>
</html>